@model DemoApp.Models.Job 

@{ ViewData["Title"] = "Edit"; }

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="JobId" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsComplete" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsComplete" class="form-control" />
                <span asp-validation-for="IsComplete" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssignedTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">-- Assign Job To?  --</option>
                </select>
                <span asp-validation-for="AssignedTo" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }